html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

img {
	max-width: 1048px;
	max-height: 590px;
}

input {
	width: 35%;
	height: 15%;
}

form {
	margin: auto;
	width: 50%;
	height: 50%;
}

p {
	margin: auto;
	margin-top: 20px;
	border: 3px ridge darkgrey;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 51%;
	font: 27px Georgia, serif;
}

p[id="urls"] {
	width: 25%;
}

a {
	border: 3px outset darkgrey;
	padding: 6px;
	font: 20px Georgia, serif;
	text-decoration: none;
	color: black;
}

small {
	padding-left: 42%;
}

.container {
	display: table;
	width: 100%;
	height: 100%;
}

.content {
	display: table-row;
	height: 100%;
}

.content-body {
	text-align: center;
	display: table-cell;
	padding: 40px;
	background: #BFBFBF;
}

.header, .footer {
	text-align: center;
	padding: 5px;
	background: #F5F5DC;
}
